* {
    margin: 0;
    padding: 0;
    font-family: simsun;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

a {
    text-decoration: none;
}

a:active {
    color: rgba(255, 48, 48, 1);
}

.top-header-wrapper {
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.top-header-wrapper .header {
    height: 60px;
}

.top-header-wrapper .header-main {
    width: 1300px;
    margin: 0 auto;
}

.top-header-wrapper .header-main .logo-div {
    float: left;
}

.top-header-wrapper .header-main .logo-div div {
    float: left;
}

.top-header-wrapper .header-main .nav-div {
    float: left;
}

.top-header-wrapper .header-main .nav {
    font-size: 17px;
    font-weight: 800;
    margin-left: 0;
    margin-top: 20px;
}

.top-header-wrapper .header-main .name-div {
    margin-left: 20px;
    float: left;
}

.top-header-wrapper .header-main .name-div div:nth-of-type(1) {
    margin-top: 10px;
    width: 95px;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.top-header-wrapper .header-main .name-div div:nth-of-type(1) img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.top-header-wrapper .header-main .name-div div:nth-of-type(1) span {
    margin-left: 2px;
}

.top-header-wrapper .header-main .logo-img {
    height: 60px;
}

.top-header-wrapper .header-main .search-div {
    height: 40px;
    width: 300px;
    margin-top: 10px;
}

.top-header-wrapper .header-main .search-div input {
    height: 40px;
    width: 240px;
}

.top-header-wrapper .header-main .search-div img {
    height: 40px;
    width: 40px;
}

.top-header-wrapper .header-main .search-div div:nth-of-type(1) {
    height: 40px;
    width: 250px;
}

.top-header-wrapper .header-main .search-div div:nth-of-type(2) {
    height: 40px;
    width: 40px;
}

.ul-li-horizontal {
    list-style: none;
}

.ul-li-horizontal li {
    float: left;
    margin-left: 15px;
}

.ul-li-horizontal li a {
    text-decoration: none;
    color: #2B2B29;
    font-size: 16px;
}

.login-div {
    height: 60px;
    padding: 0 0 0 0;
    width: 1300px;
    margin: 0 auto;
    width: 505px;
    margin: 0 auto;
}

.login-div .desc {
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    float: left;
    height: 60px;
    line-height: 60px;
    /*color: rgba(211, 211, 211, 1);*/
    color: rgba(0, 0, 0, 0.4);
    margin-left: -100px;
}

.login-div .ul {
    float: left;
    height: 60px;
}

.login-div .login-ul {
    margin-left: 0;
    margin-top: 0;
}

.login-div .login-ul li {
    margin-left: 40px;
    padding: 0;
    float: none;
    display: inline;
}

.login-div .login-ul li a {
    color: white;
    display: block;
    float: left;
    margin-left: 40px;
    border-radius: 35px;
    text-align: center;
    line-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 56px;
    width: 56px;
}

.login-div .login-ul li a span {
    font-size: 25px;
    font-weight: 900;
}

.login-div .login-ul li a:active {
    color: red;
}

.clear-both {
    clear: both;
    height: 0;
    line-height: 0;
}

.hid {
    display: none;
}

.spit-hr-1 {
    border-top: 1px solid #EFEFEF;
}

/*底部样式*/
.bottom-footer-wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 80px;
    margin-top: 100px;
    text-align: center;
    line-height: 80px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
}

/*主体样式*/
.main-content-wrapper {
    top: 120px;
    position: relative;
    z-index: -1;
}

.main-content-wrapper .main-content-wrapper-split {
    position: absolute;
    width: 100%;
}
