.main-content .audio-main-wrapper {
	height: 600px;
	/*border: 1px solid blue;*/
}

.main-content .audio-main-wrapper .audio-title {
	height: 40px;
	line-height: 40px;
}

.main-content .audio-main-wrapper .audio-tool-wrapper {
	width: 95%;
	height: 540px;
	float: left;
}

.main-content .audio-main-wrapper .audio-tool-wrapper .audio-tool-main {
	width: 100%;
	/*height: 540px;*/
	/*margin-top: 470px;*/
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper {
	width: 5%;
	height: 540px;
	float: left;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main {
	position: absolute;
	margin-top: 0;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .audio-bar {
	width: 50px;
	height: 48px;
	font-size: 10px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .catalog {
	border-radius: 0;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .download {}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .collection {}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .share {}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .play-continuously {
	width: 50px;
	height: 48px;
	font-size: 10px;
	/*    margin-top: 255px;*/
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-tool-bar-main .turn-off-the-light {
	border-radius: 0;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .audio-bar-extra {
	font-size: 13px;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	line-height: 48px;
	position: absolute;
	height: 48px;
	width: 150px;
	z-index: 1000;
	margin-left: -150px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra {
	/*border: 1px solid yellow;*/
	height: 540px;
	width: 400px;
	z-index: 1000;
	margin-left: -400px;
	line-height: normal;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .download-extra {
	margin-top: 48px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .collection-extra {
	margin-top: 94px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .share-extra {
	margin-top: 142px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .share-extra .share-adjustment {
	margin-top: 10px;
	margin-left: 10px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .comment-extra {
	margin-top: 190px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .like-extra {
	margin-top: 235px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .barrage-extra {
	margin-top: 398px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .play-continuously-extra {
	margin-top: 444px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .turn-off-the-light-extra {
	margin-top: 492px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content {
	width: 95%;
	height: 540px;
	margin-left: 10px;
	overflow: scroll;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .title {
	height: 48px;
	width: 100%;
	line-height: 48px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .title .title-left {
	float: left;
	width: 30%;
	height: 48px;
	text-align: left;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .title .title-right {
	float: right;
	width: 30%;
	height: 48px;
	text-align: right;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .desc {
	height: 120px;
	width: 100%;
	line-height: 17px;
	letter-spacing: 2px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items {
	width: 100%;
	height: 500px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item {}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item .item-title {
	width: 100%;
	height: 30px;
	text-align: left;
	border: 1px solid #EFEFEF;
	border-right-width: 0;
	border-left-width: 0;
	line-height: 30px;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item .item-title .item-title-left {
	width: 80%;
	float: left;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item .item-title .cur-item {
	font-size: 14px;
	font-weight: 600;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item .item-title .item-title-right {
	width: 20%;
	float: left;
}

.main-content .audio-main-wrapper .audio-tool-bar-wrapper .catalog-extra .content .items .item .item-desc {
	width: 85%;
	height: 120px;
	margin-left: 55px;
	line-height: 17px;
	letter-spacing: 2px;
}

.audio-main-info-wrapper {
	width: 100%;
	/*height: 700px;*/
	/*border: 1px solid greenyellow;*/
	overflow: visible;
}

.audio-main-info-wrapper .audio-info-wrapper {
	width: 30%;
	float: left;
	background-color: RGBA(243, 243, 243, 0.2);
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info {
	width: 95%;
	margin: 25px auto;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .tags-wrapper {
	width: 105%;
	margin-left: -6px;
	margin-bottom: -10px;
	background-color: white;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .tags-wrapper .tags {
	padding: 5px;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .tags-wrapper .tags .tag {
	background-color: RGBA(243, 243, 243, 0.9);
	color: rgba(0, 0, 0, 0.5);
	border-radius: 0;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .bar {}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .bar a {
	width: 280px;
	border-radius: 0;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .title {
	width: 100%;
	font-size: 16px;
	text-align: center;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .titme {
	width: 100%;
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.4);
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .titme .left {
	float: left;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .titme .right {
	float: right;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .user {
	height: 80px;
	padding-top: 10px;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .user .user-img-div {
	height: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .user .user-img-div .user-img {
	height: 60px;
	width: 60px;
	border-radius: 60px;
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .user .user-img-div span {
	font-size: 15px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.4);
}

.audio-main-info-wrapper .audio-info-wrapper .audio-info .desc {
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}

.audio-others-wrapper {
	/*border: 1px solid yellow;*/
	width: 70%;
	float: left;
	padding: 10px;
}

.audio-others-wrapper .tabs {
	height: 40px;
	border-bottom: 1px solid #EFEFEF;
}

.audio-others-wrapper .tabs .tab {
	float: left;
	width: 110px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.4);
}

.audio-others-wrapper .tabs .tab-cur {
	border-bottom: 1px solid rgba(92, 184, 92, 0.4);
	color: rgba(0, 0, 0, 0.3);
}

.audio-others-wrapper .audio-items {}

.audio-others-wrapper .audio-items .audio-item {}

.audio-others-wrapper .audio-items .audio-item .audio-item-title {}

.audio-others-wrapper .audio-items .audio-item .audio-item-title .time {
	display: block;
	float: right;
	margin-right: 60px;
}

.audio-others-wrapper .audio-items .audio-item .audio-item-title .span-title {
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}

.audio-others-wrapper .audio-items .audio-item .audio-item-title .span-title-cur {
	font-size: 13px;
	font-weight: 600;
}

.audio-others-wrapper .audio-items .audio-item .audio-item-desc {
	width: 90%;
	margin-left: 20px;
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 1px;
	line-height: 16px;
}

.audio-others-wrapper .audio-comments {}

.audio-others-wrapper .audio-comments .comment-btn-div {
	float: right;
}

.audio-others-wrapper .audio-comments .mods-wrapper {
	margin-top: 10px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mods {
	height: 25px;
	margin-left: -60px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mods .mod {}

.audio-others-wrapper .audio-comments .mods-wrapper .mods .mod-cur {
	border-bottom: 1px solid #EFEFEF;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mods .mod .mod-span {
	font-size: 13px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mods .mod .mod-span-cur {
	color: rgba(0, 0, 0, 0.4);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-wrapper {}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items {}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .hot-split-div {
	height: 20px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .hot-split-div {
	height: 20px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item {
	margin-top: 10px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .user-img {
	height: 60px;
	width: 40px;
	float: left;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .user-img img {
	height: 40px;
	width: 40px;
	border-radius: 40px;
	margin-top: 10px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info {
	margin-left: 10px;
	float: left;
	width: 625px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .user-comment {}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .user-comment .user-name {
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .user-comment .to-user-name-div {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.9);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .user-comment .to-user-name-div .to-user-name {
	font-size: 13px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .user-comment .comment {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.9);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars {
	/*height: 40px;*/
	margin-top: 5px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.9);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .time {
	float: left
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars {
	float: right;
	/*width: 290px;*/
	/*padding: 0;*/
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars ul {
	margin: 0;
	padding: 0;
	margin: 0;
	width: auto;
	height: 20px;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars.bar {}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars ul li {
	float: right;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars .dialog-bar {}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars ul li a {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.9);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars ul li .not-like {
	color: rgba(0, 0, 0, 0.2);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars .report-bar {
	visibility: hidden;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars .report-bar-split {
	visibility: hidden;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars .arrow {
	/*display: block;*/
	color: rgba(0, 0, 0, 0.2);
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .comment-bars .bars .arrow-hid {
	display: none;
}

.audio-others-wrapper .audio-comments .mods-wrapper .mod-content-items .mod-content-item .comment-info .reply .reply-btn-div {
	float: right;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper {}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .content {
	width: 532px;
	margin: 0 auto;
	padding: 0;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul {
	margin: 0;
	padding: 0;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .page-item {
	border-radius: 0;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .has-more {}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .has-more a {
	border-top: 0;
	border-bottom: 0;
	cursor: default;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .has-more a:hover,
a:active {
	background-color: rgba(255, 255, 255, 1);
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul a {
	color: rgba(0, 0, 0, 1);
	border-radius: 0;
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .forbid {
	color: rgba(0, 0, 0, 0.2);
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .forbid a {
	color: rgba(0, 0, 0, 0.2);
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .cur-page {
	background-color: rgba(0, 0, 0, 0.2);
}

.audio-others-wrapper .audio-comments .mods-wrapper .audio-pagination-wrapper .page-ul .cur-page a {
	background-color: rgba(0, 0, 0, 0.2);
}

.relevant-audios-wrapper {
	margin-top: 50px;
}

.relevant-audios-wrapper .relevant-audios-title {
	font-size: 16px;
	font-weight: 500;
	height: 30px;
	line-height: 30px;
	background-color: RGBA(242, 244, 234, 0.3);
	color: rgba(0, 0, 0, 0.6);
}

.audio-pagination-wrapper {}

.audio-pagination-wrapper .content {
	width: 532px;
	margin: 0 auto;
	padding: 0;
}

.audio-pagination-wrapper .page-ul {
	margin: 0;
	padding: 0;
}

.audio-pagination-wrapper .page-ul .page-item {
	border-radius: 0;
}

.audio-pagination-wrapper .page-ul .has-more {}

.audio-pagination-wrapper .page-ul .has-more a {
	border-top: 0;
	border-bottom: 0;
	cursor: default;
}

.audio-pagination-wrapper .page-ul .has-more a:hover,
a:active {
	background-color: rgba(255, 255, 255, 1);
}

.audio-pagination-wrapper .page-ul a {
	color: rgba(0, 0, 0, 1);
	border-radius: 0;
}

.audio-pagination-wrapper .page-ul .forbid {
	color: rgba(0, 0, 0, 0.2);
}

.audio-pagination-wrapper .page-ul .forbid a {
	color: rgba(0, 0, 0, 0.2);
}

.audio-pagination-wrapper .page-ul .cur-page {
	background-color: rgba(0, 0, 0, 0.2);
}

.audio-pagination-wrapper .page-ul .cur-page a {
	background-color: rgba(0, 0, 0, 0.2);
}