
.cur-audios-wrapper .audio-pagination-wrapper {
}

.cur-audios-wrapper .audio-pagination-wrapper .content {
    width: 532px;
    margin: 0 auto;
    padding: 0;
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul {
    margin: 0;
    padding: 0;
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .page-item {
    border-radius: 0;
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .has-more {
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .has-more a {
    border-top: 0;
    border-bottom: 0;
    cursor: default;
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .has-more a:hover, a:active {
    background-color: rgba(255, 255, 255, 1);
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul a {
    color: rgba(0, 0, 0, 1);
    border-radius: 0;
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .forbid {
    color: rgba(0, 0, 0, 0.2);
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .forbid a {
    color: rgba(0, 0, 0, 0.2);
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .cur-page {
    background-color: rgba(0, 0, 0, 0.2);
}

.cur-audios-wrapper .audio-pagination-wrapper .page-ul .cur-page a {
    background-color: rgba(0, 0, 0, 0.2);
}