.main-content-wrapper .main-content-wrapper-split .main-content-wrapper-module {
	width: 1000px;
	margin: 0 auto;
}

.main-content-wrapper .main-content-wrapper-split .main-content-wrapper-module a:active {
	color: rgba(255, 48, 48, 1);
}

.main-content-wrapper .main-content-wrapper-split .banner-div-wrapper {
	height: 200px;
	margin-top: 5px;
	/*background-color: blanchedalmond;*/
}

.main-content-wrapper .main-content-wrapper-split .banner-div-wrapper .carousel-inner .item {
	height: 200px;
	width: 100%;
}

.main-content-wrapper .main-content-wrapper-split .banner-div-wrapper .carousel-inner .item .carousel-caption {
	font-size: 17px;
	color: rgba(0, 0, 0, 0.7);
}

.main-content-wrapper .main-content-wrapper-split .banner-div-wrapper .carousel-inner .item .carousel-img {
	height: 200px;
	width: 100%;
}

.main-content-wrapper .main-content-wrapper-split .module {
	width: 1000px;
	height: 184px;
}

.main-content-wrapper .main-content-wrapper-split .module .module-li {
	border: 1px solid #EFEFEF;
	float: left;
	width: 182px;
	height: 182px;
	margin-left: 20px;
}

.main-content-wrapper .main-content-wrapper-split .module .module-li .module-li-desc {
	text-align: center;
	font-style: italic;
}

.main-content-wrapper .main-content-wrapper-split .module .module-li .module-li-main {
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-radius: 50px;
	width: 100px;
	height: 100px;
	margin: 20px auto;
	text-align: center;
	line-height: 100px;
}

.main-content-wrapper .main-content-wrapper-split .module .module-li .module-li-main .title {
	font-size: 30px;
	font-weight: 100;
	/*color: rgba(0, 0, 0, 0.6);*/
}

.main-content-wrapper .main-content-wrapper-split .module .module-li:nth-of-type(1) {
	margin-left: 0;
}

.live-video-wrapper {
	height: 510px;
	margin-top: 5px;
}

.live-video-wrapper .live-video-header {
	height: 30px;
	line-height: 30px;
	background-color: RGBA(242, 244, 234, 0.5);
	/*color: rgba(205, 129, 98, 1);*/
	font-size: 16px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
	width: 990px;
}

.live-video-wrapper .live-video-header i {
	/*color: rgba(205, 129, 98, 1);*/
	color: rgba(0, 0, 0, 0.6);
}

.live-video-wrapper .live-video-header span {
	font-size: 17px;
	font-weight: 800;
	/*color: rgba(205, 129, 98, 1);*/
	color: rgba(0, 0, 0, 0.6);
}

.live-video-wrapper .live-video-header .title {
	margin-left: 0;
	display: inline;
	/*color: rgba(205, 129, 98, 1);*/
	color: rgba(0, 0, 0, 0.6);
}

.live-video-wrapper .live-video-header .live-more {
	margin-top: 5px;
	display: block;
	float: right;
	line-height: 30px;
	font-style: italic;
	font-size: 14px;
	font-weight: 500;
}

.live-video-wrapper .live-video-content {
	height: 479px;
}

.live-video-wrapper .live-video-content .live-video-items {
	height: 233px;
}

.live-video-wrapper .live-video-content .live-video-items:nth-of-type(1) {
	position: absolute;
	margin-top: 0;
	z-index: 999;
}

.live-video-wrapper .live-video-content .live-video-items:nth-of-type(2) {
	position: absolute;
	margin-top: 245px;
	z-index: 888;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item {
	width: 233px;
	height: 233px;
	border: 1px solid #EFEFEF;
	float: left;
	margin-left: 20px;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item:nth-of-type(1) {
	margin-left: 0;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .img-div {
	height: 155px;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .img-div .img {
	height: 155px;
	width: 100%;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div {
	height: 78px;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .content-div-title {
	text-align: center;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .title {
	height: 16px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 10px;
	font-size: 15px;
	font-weight: 500;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .desc {
	height: 71px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 0;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-style: italic;
	background-color: rgb(255, 255, 255);
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .desc .desc-split {
	border: 1px dotted rgba(0, 0, 0, 0.4);
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .time {
	height: 30px;
	/*margin-top: 18px;*/
	line-height: 30px;
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 14px;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .desc-time-split {
	border-top: 10px solid rgb(255, 255, 255);
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .time span {
	color: rgba(0, 0, 0, 0.5);
	font-weight: 600;
	font-size: 14px;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .time > div:nth-of-type(1) {
	float: left;
}

.live-video-wrapper .live-video-content .live-video-items .live-video-item .content-div .time > div:nth-of-type(2) {
	float: right;
}