/*当页面的主题数据比较少时,把页脚固定在浏览器底部*/

.bottom-footer-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.main-content-wrapper .main-content-wrapper-split .register-div {
	width: 900px;
	height: 600px;
	margin: 6px auto;
}

.main-content-wrapper .main-content-wrapper-split .register-div .register-form-div {
	/*border: 1px solid rgba(0, 0, 0, 0.1);*/
	width: 600px;
	height: 600px;
	margin: 0 auto;
	/*border-radius: 600px;*/
}

.main-content-wrapper .main-content-wrapper-split .register-div .register-form {
	border: 1px solid rgba(0, 0, 0, 0.1);
	width: 400px;
	height: 400px;
	margin: 40px auto;
}

.main-content-wrapper .main-content-wrapper-split .register-div .form-legend {
	/*color: rgba(205, 129, 98, 1);*/
}

.main-content-wrapper .main-content-wrapper-split .register-div .form-legend .login-entry {
	font-size: 14px;
	margin-left: 200px;
	color: rgb(0, 0, 0);
}

.main-content-wrapper .main-content-wrapper-split .register-div .form-legend .login-entry a {
	/*color: RGB(51, 122, 183);*/
	color: rgb(0, 0, 0);
	font-style: italic;
}

.main-content-wrapper .main-content-wrapper-split .register-div .form-legend .login-entry a:hover {
	text-decoration: underline;
}

.main-content-wrapper .main-content-wrapper-split .register-div .register-form .validata-img {
	width: 120px;
	height: 35px;
}

.main-content-wrapper .main-content-wrapper-split .register-div .register-form .forget-password {
	line-height: 33px;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
}

.main-content-wrapper .main-content-wrapper-split .register-div .register-form .register {
	line-height: 33px;
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
}